<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylelogin.css')}}">
    <title>Document</title>

</head>
<body>
    <form method="post">
            <h1 title="Вход в учетную запись">Вход в учетную запись</h1>
            <div class="group">
                <label >email</label>
                <input type="text" name="email">
            </div>

            <div class="group">
             <label >Пароль</label>
                <input type="text" name="password">
            </div>


            <div class="group">
              <a class="click-me" href="/Users/maksimmaiornikov/Projects/site/relogin/relogin.html">Восстановить</a>
            
            </div>

        
            <div class="group">
                <a class="click-me" href="/Users/maksimmaiornikov/Projects/site/registration/index.html">Регистрация</a>
        
            </div>
           <div class="group">
            <center><button>Вход</button></center>
        </div>

    </form>



</body>
</html>