<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylerelogin.css')}}">
</head>
<body>
    <form action="">
        <h1 title="Регистрация">Регистрация</h1>
    
       
        <div class="group">
            <label for"">Адресс электроной почты</label>
            <input type="email">
        </div>
        
       
        <div class="group">
            <center><button>Восстановить доступ</button></center>
        </div>

        <div class="group">
            <a class="click-me" href="/Users/maksimmaiornikov/Projects/site/loging/login.html">Вход</a>
        
        </div>
    </form>




   
</body>
</html>
